hr {
    clear: both;          
    margin: 0 auto;
    width: 550px;
    margin-top: 40px;
    margin-bottom: 45px;
}

.main {
    margin-bottom: 100px;
}

.content::after {
    content: "";
    display: block;
    clear: both;
}
.content__main-block {
    width: 60%;
    float: left;
}

.content__block {
    float: left;
    width: 150px;         
    margin-right: 30px;  
}

.content__block-text {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;    
    overflow: hidden;     
}

.content__img {
    display: block;
    width: 100%;          
    height: auto;
    object-fit: contain;
}

.content__title {
    margin-bottom: 10px;
    font-size: 25px;
    color: #cb3362;
    font-family: latoRegular;
}

.content__subtitle {
    margin-bottom: 30px;
    font-size: 17px;
    color: #7a6635;
    font-family: robotoRegular;

}

.content__description {
    text-align: left;
    font-size: 20px;
    color: #7a6635;
    font-family: robotoRegular;

}

.content__btn {
   display: inline-block; 
    padding: 12px 50px;
    background-color: white;
    border: 2px solid #cbb5bc;
    font-size: 23px;
    color: #cbb5bc;
    font-family: latoBold;
    margin-top: 20px;     
    cursor: pointer;
}

.content__btn-center {
    display: block;
    margin: 0 auto;
    padding: 12px 50px;
    background-color: white;
    border: 2px solid #cbb5bc;
    font-size: 23px;
    color: #cbb5bc;
    font-family: latoBold;
    cursor: pointer;
}

/* ! Content-RIGHT */

.content__right-block {
    padding-top: 35px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 20px;
    padding-bottom: 50px;
    background-color: #efedee;
    width: 30%;
    float: right;
    text-align: center;
}
.content__right-title {
    font-size: 50px;
    color: #cb3362;
    font-weight: 600;
    font-family: magraBold;
}
.content__right-images {
    display: block;
    object-fit: contain;
    margin: 0 auto;
}
.content__right-subtitle {
    font-size: 40px;
    color: #cb3362;
    font-family: latoRegular;
    margin-top: 35px;
    margin-bottom: 20px;

}
.content__right-text {
    font-size: 17px;
    color: #7a6635;
    font-family: robotoRegular;
    margin-bottom: 50px;

}
.content__right-description {
    font-size: 20px;
    color: #7a6635;
    font-family: robotoRegular;
    margin-bottom: 100px;
}
.content__right-btn {
    font-size: 23px;
    background-color: #efedee;
    border: 2px solid #cbb5bc;
    font-size: 23px;
    color: #cbb5bc;
    font-family: latoBold;
    cursor: pointer;
}