.footer__background {
    background-color: #cb3362;
    padding: 70px 0;
    text-align: center;
}

.footer__images {
    display: inline-block;
    margin: 0 15px;
}
.footer__description {
    font-size: 17px;
    color: #ffffff;
    font-family: robotoRegular;
    margin-top: 20px;
}

.footer__link {
    position: relative;
    display: inline-block;
}

.footer__link .hint-text__facebook {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1877F2;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 12px;
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.footer__link .hint-text__twitter {
     position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1faee9;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 12px;
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.footer__link .hint-text__google {
     position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(#4285F4, #DB4437, #F4B400, #0F9D58) ;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 12px;
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.footer__link .hint-text__pinterest {
     position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #E60023;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 12px;
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.footer__link:hover .hint-text__facebook {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px);
}

.footer__link:hover .hint-text__twitter {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px);
}
.footer__link:hover .hint-text__google {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px);
}
.footer__link:hover .hint-text__pinterest {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px);
}
